.button__next{
    border: 2px solid #D01000;
    box-sizing: border-box;
    border-radius: 1000px;
    width: 187px;
    font-size: 20px;
    line-height: 19px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
    padding: 24px 0 20px;
}

.button__next:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  transition: 1s;
}