@import url(./__box/info__box.css);
@import url(./__box/_light/info__box_light.css);
@import url(./__text/info__text.css);
@import url(./__text/_light/info__text_light.css);
@import url(./__box-subheading/info__box-subheading.css);
@import url(./__box-subheading/_light/info__box-subheading_light.css);
@import url(./__box-heading/info__box-heading.css);
@import url(./__box-heading/_light/info__box-heading_light.css);
.info {
  max-width: 475px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 51px;
}