.order__orderbtn {
  background: #000000;
  margin: 68px auto 24px auto;
  border-radius: 60px;
  border: 2px solid #D01000;
  box-sizing: border-box;
  border-radius: 1000px;
  padding: 24px 82px 20px 81px;
  font-family: Gotham Pro;
  font-size: 20px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.order__orderbtn:hover {
  color: #000000;
  background: rgba(255, 255, 255, 0.3);
  border: none;
}